body {
    background: #d9ffc5;
 }
 
 .map {
    position:relative;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/21542/DogDemoMap.png);
    width: calc(192px * 4);
    height: calc(144px * 4);
    background-size: 100%;
    margin: 1em auto 0 auto;
 }
 
 .pixelart {
    image-rendering: pixelated;
 }
 
 .toy {
    cursor: pointer;
    position: absolute;
    
 }
 
 .toy1 {
    left: 75px;
    top: 110px;
    width: 80px;
    height: 80px;
    
 }

 .toy2 {
    left: 280px;
    top: 200px;
    width: 60px;
    height: 60px;
 }

 .toy3 {
    left: 280px;
    top: 120px;
    width: 70px;
    height: 70px;
 }

 .toy4 {
    left: 60px;
    top: 190px;
    width: 130px;
    height: 85px;
 }
 
 .text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Press Start 2P', cursive;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 1.5em;
 }