

body{
  margin-top: 30px;
  font-size: 16px;
  line-height: 1.5;
  background-image: url("h.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
}



#snakeboard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #score {
    position: fixed;
    text-align: center;
    font-size: 120px;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
    
    
  }

  #Ys 
  {
    position: fixed;
    text-align: center;
    font-size: 20px;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
  }


 