body
{
margin: 0;
padding: 0;
font-family: sans-serif;
background-size: cover; 
background-image: url(bg.jpg);
background-repeat: no-repeat;
}
ul
{
    position: relative;
    width: 700px;
    margin: 100px auto 0;
    padding: 10px;
    box-sizing: border-box;
    
}
ul li
{
    display: flex;
    background: rgba(255,255,255,.1);
    padding: 10px 20px;
    color: black;
    margin: 5px 0;
    transition: .5s;
     cursor: pointer;
    
}
ul li:nth-child(1)
{
    background:  linear-gradient(to right, #801357,#e7627d,#801357,#e7627d); 
    border-radius: 25px;
}
ul li:nth-child(2)
{
     background:  linear-gradient(to right, #801357,#e7627d,#801357,#e7627d); 
    border-radius: 25px;   
}
ul li:nth-child(3)
{
  background:  linear-gradient(to right, #801357,#e7627d,#801357,#e7627d); 
    border-radius: 25px;
}
ul li:nth-child(4)
{
     background:  linear-gradient(to right, #801357,#e7627d,#801357,#e7627d); 
    border-radius: 25px;
}
ul li:nth-child(5)
{
     background:  linear-gradient(to right, #801357,#e7627d,#801357,#e7627d); 
    border-radius: 25px;
}
ul li:nth-child(6)
{
     background:  linear-gradient(to right, #801357,#e7627d,#801357,#e7627d); 
    border-radius: 25px;
}
ul li:nth-child(7)
{
     background:  linear-gradient(to right, #801357,#e7627d,#801357,#e7627d); 
    border-radius: 25px;
}
ul li:nth-child(8)
{
     background:  linear-gradient(to right, #801357,#e7627d,#801357,#e7627d); 
    border-radius: 25px;
}
.order
{
      height: 100%;
  width: 100%;
  background: none;
  border: none;
  color: black;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}
ul li:hover
{
    transform: scale(1.06);
    background:  #ffffe6;
      
}
h1
{
    background: linear-gradient(to right, #dbdcd7 5%, #3d1635 5%, #e2c9cc 5%, #e7627d 46%, #b8235a 59%, #801357 71%, #dddcd7 10%, #1c1a27 5%);
    position: relative;
    margin-left: 70px;
    margin-top: 50px;
    font-size: 80px;
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text; 
}
